input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid var(--pure-color-light-50);
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid var(--pure-color-light-50);
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
input[type="color"] {
  padding: 0.2em 0.5em;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: var(--pure-color-secondary);
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type]):focus {
  outline: 0;
  border-color: var(--pure-color-secondary);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin solid var(--pure-color-secondary);
  outline: 1px auto var(--pure-color-secondary);
}

.pure-checkbox,
.pure-radio {
  margin: 0.5em 0;
  display: block;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: var(--pure-color-light);
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: var(--pure-color-light);
  color: #cad2d3;
}

input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: var(--pure-color-dark-70);
  /* menu text color */
  border-color: var(--pure-color-light-50);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  --color: #b94a48;
  color: var(--color);
  border-color: var(--pure-color-danger);
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: var(--pure-color-danger);
}

select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid var(--pure-color-light-50);
  background-color: white;
}

select[multiple] {
  height: auto;
}

label {
  margin: 0.5em 0 0.2em;
}

fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.stacked input[type="text"],
.stacked input[type="password"],
.stacked input[type="email"],
.stacked input[type="url"],
.stacked input[type="date"],
.stacked input[type="month"],
.stacked input[type="time"],
.stacked input[type="datetime"],
.stacked input[type="datetime-local"],
.stacked input[type="week"],
.stacked input[type="number"],
.stacked input[type="search"],
.stacked input[type="tel"],
.stacked input[type="color"],
.stacked input[type="file"],
.stacked select,
.stacked label,
.stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

.aligned input,
.aligned textarea,
.aligned select,
/* NOTE: pure-help-inline is deprecated. Use .message-inline instead. */
.aligned .pure-help-inline,
.message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
input.pure-input-rounded,
.pure-input-rounded {
  border-radius: 2em;
  padding: var(--pure-padding);
}

/* Grouped Inputs */
.pure-group fieldset {
  margin-bottom: 10px;
}

.pure-group input,
.pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-group input:focus,
.pure-group textarea:focus {
  z-index: 3;
}

.pure-group input:first-child,
.pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-group input:first-child:last-child,
.pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-group input:last-child,
.pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-group button {
  margin: 0.35em 0;
}

.pure-input-1 {
  width: 100%;
}

.pure-input-3-4 {
  width: 75%;
}

.pure-input-2-3 {
  width: 66%;
}

.pure-input-1-2 {
  width: 50%;
}

.pure-input-1-3 {
  width: 33%;
}

.pure-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
.message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: var(--pure-color-dark-60);
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.message {
  display: block;
  color: var(--pure-color-dark-60);
  font-size: 0.875em;
}
