/* --------------------------
 * Fonts
 * --------------------------
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,700&display=swap');

/* --------------------------
 * Element Styles
 * --------------------------
*/

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.01em;
}

body {
  min-width: 320px;
  background-color: #fff;
  color: #777;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: rgb(75, 75, 75);
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

a {
  color: #3b8bba;
  /* block-background-text-normal */
  text-decoration: none;
}

a:visited {
  color: #265778;
  /* block-normal-text-normal */
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 10px 0;
}

aside {
  background: #1f8dd6;
  /* same color as selected state on site menu */
  margin: 1em 0;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
}

aside a,
aside a:visited {
  color: rgb(169, 226, 255);
}


/* --------------------------
 * Header
 * --------------------------
*/

header.SiteHeader {
  width: 100%;
  background: var(--pure-color-dark-background);
  position: fixed;
  transform: translateY(0);
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s cubic-bezier(.4, 0, .2, 1);
  z-index: 420;
}

header.SiteHeader.scrolled {
  -webkit-transform: translateY(-120px);
  transform: translateY(-120px);
}

@media screen and (max-width: 1025px) {
  header.SiteHeader.scrolled {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}

@media screen and (min-width: 1025px) {
  header.SiteHeader.scrolled {
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

header.SiteHeader>div {
  margin: 0 auto;
  padding: 0.25em 1rem;
}


header.SiteHeader pure-menu {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1025px) {

  header.SiteHeader pure-menu {
    flex-direction: column;
  }
}

header.SiteHeader h1 {
  font-family: "Raleway",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  letter-spacing: 0.05em;
  color: var(--pure-color-light-90);
  font-size: 150%;
  font-weight: 100;
  margin: 0;
}

@media screen and (min-width: 1025px) {
  header.SiteHeader .pure-mobile-menu-btn {
    display: none !important;
  }
}



/* --------------------------
 * Hamburger Icon for Header
 * --------------------------
*/

.menu-link {
  position: fixed;
  top: 1.45rem;
  right: 1.0875rem;
  display: block;
  border: 0;
  background: transparent;
  font-size: 11px;
  /* change this value to increase/decrease button size */
  z-index: 10;
  width: 4em;
  height: 4em;
  padding: 1em;
}

.menu-link:hover,
.menu-link:focus {
  background: #000;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: .2em;
  transition: all 0.4s;
}

.menu-link span:before,
.menu-link span:after {
  position: absolute;
  top: -.55em;
  left: 0;
  content: " ";
}

.menu-link span:after {
  top: .55em;
  left: 0;
}

.menu-link.active span {
  background: transparent;
}

.menu-link.active span:before {
  transform: rotate(45deg) translate(.5em, .4em);
}

.menu-link.active span:after {
  transform: rotate(-45deg) translate(.4em, -.3em);
}



/* --------------------------
 * Code Styles
 * --------------------------
*/

pre,
code {
  font-family: Consolas, Courier, monospace;
  color: #333;
}

code {
  white-space: nowrap;
}

.content p code {
  font-size: 90%;
}

.code {
  margin-left: -3em;
  margin-right: -3em;
  padding: 1em;
  border: 1px solid #eee;
  border-left-width: 0;
  border-right-width: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1025px) {

  /* Extra padding since content adds extra */
  .code {
    margin-left: -2em;
    margin-right: -2em;
  }
}

.code code {
  font-size: 95%;
  white-space: pre;
  word-wrap: normal;
  padding: 0;
  background: none;
}

.code-wrap code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* -------------
 * Table Styles
 * -------------
*/

pure-table th,
pure-table td {
  padding: 0.5em 1em;
}



/* --------------------------
 * Dashboard / Sidebar
 * --------------------------
*/

.Dashboard__sidebar {
  width: 240px !important;
  height: 100%;
  max-height: 100%;
  background-color: var(--pure-color-dark-background);
  position: fixed;
  left: 0;
  margin: 0 !important;
  padding-top: 1em;
  transform: translate(-250px, 3.75em);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 400ms cubic-bezier(.4, 0, .2, 1);
  z-index: 710;
}

.Dashboard__sidebar.scrolled {
  transform: translate(-250px, 0);
}

.Dashboard__sidebar.visible {
  transform: translate(0, 3.75em);
}

.Dashboard__sidebar.hide {
  transform: translate(-250px, 3.75em);
}

.Dashboard__content {
  margin-left: 240px !important;
  padding-top: 3.75em;
  min-height: calc(100vh);
  background-color: var(--pure-color-light-100);
  overflow-x: hidden;
}

@media screen and (max-width: 1025px) {
  .Dashboard__content {
    padding-top: 145px;
  }
}

.Dashboard__content>.content {
  max-width: 960px;
  padding: 1em 3em;
  margin: auto;
}

@media screen and (max-width: 1025px) {
  .Dashboard__content>.content {
    padding: 2em;
  }
}


.Dashboard__content>.content p:first-child {
  margin-top: 0;
}

/* Make sure we keep margins for aside boxes */
.Dashboard__content>.content aside p:first-child {
  margin: 1em;
}

#sidebarToggle {
  display: block;
}

@media screen and (max-width: 480px) {
  .Dashboard__sidebar.visible {
    transform: translate(0, 3.75em);
  }

}

@media screen and (min-width: 1025px) {

  .Dashboard__sidebar.scrolled,
  .Dashboard__sidebar.scrolled.visible,
  .Dashboard__sidebar.scrolled.hide {
    transform: translate(0, 0);
  }

  .Dashboard__sidebar.visible,
  .Dashboard__sidebar.hide {
    transform: translate(0, 3.75em);
  }

  .Dashboard__sidebar {
    transform: translate(0, 3.75em);
  }

  #sidebarToggle {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .Dashboard__content {
    margin-left: 0 !important;
  }
}

/* Sidebar Styles */

header a.pure-menu-link,
.Dashboard__sidebar pure-menu li a,
.Dashboard__sidebar pure-menu .pure-menu-link:visited,
.Dashboard__sidebar pure-menu li a:visited,
.Dashboard__sidebar .pure-menu-selected>.pure-menu-link,
.Dashboard__sidebar .pure-menu-selected>.pure-menu-link:visited {
  color: var(--pure-color-light-90);
}

header pure-menu a.pure-menu-link:hover,
.Dashboard__sidebar pure-menu .pure-menu-link:hover,
.Dashboard__sidebar pure-menu li a:hover,
.Dashboard__sidebar pure-menu li a:focus {
  background: #333;
}

header pure-menu a.pure-menu-heading:hover {
  background: transparent;
}

.Dashboard__sidebar .pure-menu-selected {
  color: var(--pure-color-light-90);
  background: var(--pure-color-primary);
}

/* --------------------------
 * Documentation Page
 * --------------------------
*/

.Dashboard__content .content h1,
.Dashboard__content .content h2,
.Dashboard__content .content h3 {
  font-weight: 300;
  margin: 2em 0 1em 0;
  color: #888;
}

.Dashboard__content .content .PageHeader h1,
.Dashboard__content .content .PageHeader h2 {
  font-weight: 100;
  margin: 0;
}

.Dashboard__content .content p {
  font-size: 1.125em;
}

pure-table {
  width: 100%;
}

/* --------------------------
 * Page Specific CSS
 * --------------------------
*/

/* --------------------------
 * Frontpage
 * --------------------------
 * + Size Chart
 * --------------------------
*/
.size-chart {
  display: flex;
  width: 100%;
  font-size: 87.5%;
  line-height: 1.4;
  margin-bottom: 2em;
}

a.size-chart-item {
  display: block;
  color: #fff;
  padding: 1.45em 0;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.size-chart-label {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.size-chart-size {
  display: none;
}

.size-chart-base {
  background: #1f8dd6;
}

.size-chart-base .size-chart-size {
  color: rgb(103, 194, 240);
}

.size-chart-grids {
  background: rgb(128, 88, 165);
}

.size-chart-grids .size-chart-size {
  color: rgb(200, 131, 255);
}

.size-chart-forms {
  background: #5eb95e;
}

.size-chart-forms .size-chart-size {
  color: rgb(161, 240, 137);
}

.size-chart-buttons {
  background: #dd514c;
}

.size-chart-buttons .size-chart-size {
  color: rgb(236, 164, 154);
}

.size-chart-menus {
  background: rgb(250, 210, 50);
}

.size-chart-menus .size-chart-size {
  color: rgb(255, 240, 134);
}

.size-chart-tables {
  background: rgb(243, 123, 29);
}

.size-chart-tables .size-chart-label {
  margin-left: -0.5em;
}

.size-chart-tables .size-chart-size {
  color: rgb(255, 190, 129);
}

@media screen and (min-width: 30em) {
  .size-chart-tables .size-chart-label {
    margin-left: 0;
  }
}

@media screen and (min-width: 48em) {
  .size-chart {
    font-size: 100%;
  }

  a.size-chart-item {
    padding: 0.5em;
    text-align: left;
  }

  .size-chart-label {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }

  .size-chart-size {
    display: block;
  }
}

/* --------------------------
 * Getting Started
 * --------------------------
 * + Grids
 * --------------------------
*/
.grids-example {
  background: rgb(250, 250, 250);
  margin: 2em auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.grids-example pure-grid {
  display: flex;
}

.grids-example [class *="pure-u"] {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  text-align: center;
  padding: 1em 0;
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
}
