.Dashboard__sidebar {
  width: 240px !important;
  height: 100%;
  max-height: 100%;
  background-color: var(--pure-color-dark-background);
  position: absolute;
  left: 0;
  margin: 0 !important;
  padding-top: 1em;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  z-index: 5;
}

.Dashboard__sidebar.visible {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.Dashboard__content {
  margin-left: 240px !important;
  min-height: calc(100vh);
  background-color: var(--pure-color-light-100);
}

.Dashboard__content>.content {
  padding: 1.5em;
}

#sidebarToggle {
  display: block;
}

.text.center {
  text-align: center;
}

.inverted.text {
  color: #FFF !important;
}

.inverted.grey.text {
  color: #AAA !important;
}

.Dashboard__content>.ui.vertical.segment {
  padding: 0;
}

.ui.inverted.light.grey.segment {
  background-color: lightgray !important;
  color: #000 !important;
}

@media screen and (min-width: 1025px) {
  .Dashboard__sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  #sidebarToggle {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .Dashboard__content {
    margin-left: 0 !important;
  }
}

/* Sidebar Styles */

header a.pure-menu-link,
.Dashboard__sidebar pure-menu li a,
.Dashboard__sidebar .pure-menu-selected>.pure-menu-link,
.Dashboard__sidebar .pure-menu-selected>.pure-menu-link:visited {
  color: var(--pure-color-light-90);
}

header pure-menu a.pure-menu-link:hover,
.Dashboard__sidebar pure-menu a.pure-menu-link:hover,
.Dashboard__sidebar pure-menu li a:hover,
.Dashboard__sidebar pure-menu li a:focus {
  background: #333;
}

.Dashboard__sidebar .pure-menu-selected {
  color: var(--pure-color-light-90);
  background: var(--pure-color-primary);
}
