:host {
  /**
   * @prop --border-color: Border color of table cells
   * @prop --border-width: Border width of table cells
   */
  --border-color: #cbcbcb;
  --border-width: 1px;

  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: var(--border-width) solid var(--border-color);
}

caption {
  color: var(--pure-color-dark-100);
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

td,
th {
  border-left: var(--border-width) solid var(--border-color);
  /*  inner column border */
  border-width: 0 0 0 var(--border-width);
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: var(--pure-padding);
  /* cell padding */
}

thead {
  background-color: #e0e0e0;
  color: var(--pure-color-dark-100);
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - var(--pure-color-light-100) (white)
   odd  - var(--pure-color-light-90) (light gray)
*/
td {
  background-color: transparent;
}

.pure-table-odd td {
  background-color: var(--pure-color-light-90);
}

/* nth-child selector for modern browsers */
.pure-table.striped tr:nth-child(2n-1) td {
  background-color: var(--pure-color-light-90);
}

/* BORDERED TABLES */
.pure-table.bordered td {
  border-bottom: var(--border-width) solid var(--border-color);
}

.pure-table.bordered tbody>tr:last-child>td {
  border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.pure-table.horizontal td,
.pure-table.horizontal th {
  border-width: 0 0 var(--border-width) 0;
  border-bottom: var(--border-width) solid var(--border-color);
}

.pure-table.horizontal tbody>tr:last-child>td {
  border-bottom-width: 0;
}
