.PageHeader {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 48em) {
  .PageHeader h1 {
    font-size: 320%;
  }

  .PageHeader h2 {
    font-size: 128%;
  }

  .PageHeader h1,
  .PageHeader h2 {
    font-weight: 100;
    margin: 0;
  }
}
